extends layout

block content
    h1 Books
    if searchQ
        h2=`Searching for... ${searchTerm}`
        p 
            a(href="/books?home=true") Show All Books
    else
        p
            a(href="/books/new") Create New Book

    form(action="/books/search", method="post")

        input(type="search" name="query" id="query" placeholder="Search...")
    br
    table
        thead
            tr
                th Title
                th Author
                th Genre 
                th Year 
        tbody       
            each book in books
                    tr
                        td 
                            a(href= `/books/${book.id}`) #{book.title}
                        td #{book.author} 
                        td #{book.genre} 
                        td #{book.year} 
    if searchQ
        nav(class="nav-buttons-container")
            form(action="/books/search", method="get")
                - var p = 1;
                ul(class="nav-buttons-list")
                    while p <= pages 
                        li(class="nav-button")
                            if p == currentPage
                                button(class="active" disabled="true")= p++
                            else
                                button(name="page" value=p)= p++
    else                    
        nav(class="nav-buttons-container")
            form(action="books", method="get")
                - var p = 1;
                ul(class="nav-buttons-list")
                    while p <= pages 
                        li(class="nav-button")
                            if p == currentPage
                                button(class="active" disabled="true")= p++
                            else
                                button(name="page" value=p)= p++